*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    color:aliceblue;
    overflow-x: hidden;
}
.logo{
    color: #359381;
    pointer-events: none;
    font-size:3em;
}
.header{
    backdrop-filter: blur(5px);
    position: absolute;
    justify-content: flex-start;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    margin-left: 0px;
    padding: 10px;
    align-items:flex-start;
    z-index: 100;
}
.header after{
    content:".";
    clear:both;
    display:block;
    height:0;
    overflow:hidden;
    visibility:hidden;
}
#nav{
    margin: 10px 240px;
    display: flex;
}
#nav after{
    content:".";
    clear:both;
    display:block;
    height:0;
    overflow:hidden;
    visibility:hidden;
}
#nav a{
    margin: 50px;
    border-radius: 13px;
    color: #359381 ;
    text-decoration: none;
    font-size: 2em;
    height: 62px;
}
#nav a:hover,#nav a:active{
    background-color: #359381;
    color: aliceblue;
}
#nav div after{
    content:".";
    clear:both;
    display:block;
    height:0;
    overflow:hidden;
    visibility:hidden;
}
#nav div{
    overflow: hidden;
}
.imgs{
    width: 100%;
    position: relative;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100vh;
}
#img_e{
    opacity:0;
}
.imgs img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.imgs div{
    float: left;
    position: absolute;
    width: 200px;
    font-size: 1.5em;
    float: left;
    text-shadow: 1px 1px 2px;/*设置偏移量*/
    z-index: 2;/*设置了一下图层，要不然会被挡住*/
}
.imgs div img{
    margin: 0 0 0 120px;
    width: 30px;
    height:  30px;
}
.img{
    /* padding: 30px; */
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.text{
    position: relative;
    background-color: #022f26;
}
.text h1{
    color: white;
    font-size: 4em;
}
.text div{
    position: relative;
    background-color: #022f26;
    width: 1366px;
    height: 1068px;
    overflow: hidden;
    margin: 0 auto;
}
.ul{
    background-color: #359381;
    opacity: 0.3;
    margin-left: 50px;
    display:none;
}
.ul li{
    position: relative;
}
div{
    align-items: center;
    margin: 10px;
}
.statment{
    position: relative;
    width: 16424px;
    margin: 0;
    background-color: #022f26;
}
.statment li{
    margin: 34px;
    float: left;
    background-color:aliceblue;
}
#test{
    background-image: linear-gradient(90deg,  #359381,  #359381);
  background-size: 0% 2px;
  background-repeat: no-repeat;
  background-position-y: 30px;
  background-position-x:1px;
  transition: all 500ms ease;
  padding-top: 0;
  padding-bottom: 100px;
}
#test:hover{
    background-size: 100% 2px;
    background-position-y: 80px;
    color:#359381;
    cursor: pointer;
}
 #logo{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
 }
 #logo img{
    position: absolute;
    transition:all 2s ease-in-out;
    top: 0;
    left: 0;
    display: none;
    width: 150px;
    height: 130px;
 }
 #logo h2{
    transition:all 2s ease-in-out;
 }
 #logo{
    &:hover{
        .img_logo{display: block;
        opacity: 1;}
    }
 }
#l_i{
    float: left;
    padding-right: 0;
    text-align: right;
    position: absolute;
    /* font-size: 0.1em; */
    width: 30px;
    top: -10px;
    left: 90px;
    height: 5px;
    border-color: transparent; 
    border-width: 0 40px 30px 20px;
    border-style: solid;
    border-right: 50px solid  #359381;
}
#l_i a{
    transform: rotate(45deg);
    display: inline-block;
    font-size: 0.03em;
    top: 2px;
    left: 23px;
    position: absolute;
}